# *.gz
# *~

# .cache/
# auto/
# eln-cache/
# auto-save-list/
# eclipse.jdt.ls/
# elpa/
# transient/
# workspace/
# .dap-breakpoints
# .lsp-session-v1
# .org-id-locations
# history
# init.el
# places
# recentf
# bookmarks
# /emojis/
# /tramp
# /org-roam.db

*

!logos
!snippets
!.gitignore
!Emacs.org
!feeds.org
!org-latex-setup.tex